@page "/weather"
@inject HttpClient Http

<h3>Weather in @city</h3>


@if (Main == null)
{
<p><em>Loading...</em></p> }
else
{

<div class="mb-2 p-3 col-sm-5">
    <select class="form-control" @bind="cityId" @onclick="@GetDataAsync">
        <option selected disabled value="-1"> Select Location</option>
        <option value=560743> Dublin</option>
        <option value=2151330> Beijing</option>
        <option value=26042> Leeds</option>
        <option value=650272> Frankfurt</option>
        <option value=36615>Sunderland</option>
        <option value=721943> Rome</option>
        <option value=455825> Rio</option>
        <option value=2378426> Charlotte</option>
        <option value=766273> Madrid</option>
        <option value=2452078>Minneapolis</option>
    </select>

</div>




                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Date</th>
                            <th>Max Temp C</th>
                            <th>Min Temp C</th>
                            <th>wind speed</th>
                            <th>Conditions</th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var weatherForecast in Main.consolidated_weather)
                        {

                            <tr>
                                <td>@weatherForecast.applicable_date</td>
                                <td>@Math.Ceiling(weatherForecast.max_temp)</td>
                                <td> @Math.Ceiling(weatherForecast.min_temp)</td>
                                <td>@Math.Ceiling(weatherForecast.wind_speed)</td>
                                <td>@weatherForecast.weather_state_name</td>
                            </tr>
}
                    </tbody>
                </table>
                                @foreach (var weatherForecast in Main.consolidated_weather)
                                {
                @if (weatherForecast.weather_state_name == "Light Rain")
                {
<p> <img class="resize" src=https://www.metaweather.com/static/img/weather/lr.svg style="width:175px; height:175px;"> </p> }
else if (weatherForecast.weather_state_name == "Heavy Cloud")
{
<p> <img class="resize" src=https://www.metaweather.com/static/img/weather/hc.svg style="width:175px; height:175px;"> </p> }
else if (weatherForecast.weather_state_name == "Heavy Rain")
{
<p> <img class="resize" src=https://www.metaweather.com/static/img/weather/hr.svg style="width:175px; height:175px;"> </p> }
else if (weatherForecast.weather_state_name == "Showers")
{
<p> <img class="resize" src=https://www.metaweather.com/static/img/weather/s.svg style="width:175px; height:175px;"> </p> }
else if (weatherForecast.weather_state_name == "Light Cloud")
{
<p> <img class="resize" src=https://www.metaweather.com/static/img/weather/lc.svg style="width:175px; height:175px;"> </p> }
else if (weatherForecast.weather_state_name == "Clear")
{
<p> <img class="resize" src=https://www.metaweather.com/static/img/weather/c.svg style="width:175px; height:175px;"> </p> }
else if (weatherForecast.weather_state_name == "hail")
{
<p> <img class="resize" src=https://www.metaweather.com/static/img/weather/h.svg style="width:175px; height:175px;"> </p> }
                    else if (weatherForecast.weather_state_name == "thunderstorm")
                    {
<p> <img class="resize" src=https://www.metaweather.com/static/img/weather/t.svg style="width:175px; height:175px;"> </p>}
else if (weatherForecast.weather_state_name == "snow")
{
<p> <img class="resize" src=https://www.metaweather.com/static/img/weather/sn.svg style="width:175px; height:175px;"> </p> }
                    else
                    {
<p> <img class="resize" src=https://www.metaweather.com/static/img/weather/sl.svg style="width:175px; height:175px;"> </p>}}}
